{% extends 'base.html' %}

{{super()}}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Results:</h1>
        {% if valid %}
        <h2>The parameters are</h2>
        {% for param in params %}
        <ul>
            <li>{{param}}</li>
        </ul>
        {% endfor %}
        <h2>Plot:</h2>
        <img class="img-fluid" src="{{url_for('static', filename='data.png')}}">
        {% else %}
        <h2>Data problem! Check the values and dimensions.</h2>
        {% endif %}
    </div>
</div>

{% endblock %}